@model ProdutoListViewModel

<div> 
    <h2>@Model.CategoriaAtual</h2>
</div>

<div class="container">
<div class="row">
@foreach(var produto in Model.Produtos){
    <div class="col-sm-4 col-md-4 col-lg-4">
         <p><img src="@produto.ImagemUrl" class="img-fluid"></p>
         <h3>Preço : @produto.Preco.ToString("c")</h3>
         <h4>@produto.Nome</h4>
         <p>@produto.Descricao</p>
        
    </div>
}
</div>
</div>